
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap")
 
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito" , sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
}

#name {
    text-align: center;
    background-color:var (--HEADER-BGCOLOR) ;


    color: var(--HEADER-COLOR); 
    PADDING : var (--PADDING-TB) var
    (--PADDING-SIDE) ;
    font-family : var(--FF-HEADINGS);
    letter-spacing :0.1em;
}
#quiz {
    text-align: center;
    color:rgb(157, 219, 33)
}